#main #article-header {
	position: relative;
	margin-right: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid var(--borders-color);
}

#main #article-header >h1 {
	margin: 0;
}

#main #article-header >a:last-child {
	display: block;
	position: absolute;
	top: -5px;
	right: -5px;
	border: 1px solid var(--borders-color);
	border-radius: 7px;
	padding: 5px 10px;
	text-align: center;
	color: var(--menu-text-color);
	text-decoration: none;
	background-color: #FFFF;
}

#main #article-header >a:last-child::before {
	content: "\270e";
	font-size: 2em;
}

#main #article-validation {
	margin-bottom: 18px;
	font-size: 0.9em;
	color: grey;
}

#main pre {
	margin-left: 30px;
}

#main p code,
#main ul code,
#main pre code {
	border-radius: 5px;
	background-color: rgb(240, 240, 240);
	font-size: 1.1em;
}

#main div.appl {
	background-color: rgb(240, 255, 240);
	border: 1px solid green;
	margin: 1em 0;
	padding: 10px;
}

#main div.note {
	background-color: rgb(255, 240, 240);
	border: 1px solid red;
	margin: 1em 0;
	padding: 10px;
}

#main div.appl::before,
#main div.note::before {
	display: block;
	padding-bottom: 4px;
	border-bottom: 1px dotted grey;
	margin-bottom: 2px;
	font-size: 0.8em;
	font-weight: bold;
	color: var(--menu-text-color);
}

#main div.appl::before {
	content: "Applicazione";
}

#main div.note::before {
	content: "Nota";
}

#main div.appl >p:first-child,
#main div.note >p:first-child {
	margin-top: 0;
}

#main div.appl >p:last-child,
#main div.note >p:last-child {
	margin-bottom: 0;
}
