* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

form {
	position: relative;
	z-index: 100;
	width: 350px;
	margin: 20px auto;
	border: 1px solid;
	padding: 20px;
	background-color: #FFFF;
}

h1:first-child {
	margin: 0;
}

h1 {
	font-size: 1.1em;
	margin-top: 20px;
	margin-bottom: 0;
}

p {
	margin-top: 4px;
	font-size: 0.9em;
}

#credentials label,
#controls label {
	display: block;
}

#credentials input,
#controls input {
	display: block;
	width: 100%;
	height: 2.5em;
	margin: 5px 0 10px 0;
}

#xml h1 {
	display: inline-block;
	margin: 4px 10px 0 0;
}

#xml label {
	margin-right: 10px;
}

#controls {
	margin-top: 20px;
}

input[type="submit"][value="Installa"] {
	font-size: 1.1em;
}

input[type="submit"][value~="Ripristina"] {
	color: red;
}

div.mbox {
	position: fixed;
	width: 90%;
	left: 20px;
	bottom: 50px;
	border: 1px solid;
	padding: 20px;
}

.mbox.success {
	border-color: green;
	background-color: rgb(240, 255, 240);
}

.mbox.failure {
	border-color: red;
	background-color: rgb(255, 240, 240);
}
